*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.box-wrapper::-webkit-scrollbar{
	width: 0px;
}

body{
    background-color: rgba(0, 0, 0, 0.9);
}

h1{
    font-size: 64px;
    padding-top: 40px;
    text-align: center;
    font-weight: 800;

    background: linear-gradient(to right, #FCA311 0%, #ffcd7d 40%, #8e6d38 45%, #ffd494 80%, #FCA311 100%);
    background-size: 200% auto;

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    animation: gradient 5s infinite linear;
}

@keyframes gradient {
    to {
      background-position: 200% center;
    }
}

.auth,.test{
    display: flex;
    align-items: center;
    justify-content: center;
}


.box-wrapper{
    background-color: #E5E5E5;
    border: 2px solid #FCA311;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 36px 0px #fca21150;
    height: 650px;
    width: 482px;
    overflow-y: scroll;
}

form{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
    justify-content: space-between;
}

.content{
    margin-top: -45px;
    margin-inline: auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    height: 90vh;
}

/* input, auth */

label{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -20px;
    margin-left: 5px;
}

.kezdes_btn{
    transition: 0.3s all;
}

.kezdes_btn[data-status=disabled] {
    display: none;
}

.kezdes_btn[data-status=enabled],
.ellenorzes_btn[data-status=enabled] {
    display: block;
    color: #555;
    font-size: 25px;
    display: block;
    margin: 40px auto;
    margin-bottom: 0px !important;
    padding: 10px 20px;
    border: 0;
    background-color: #FCA311;
    box-shadow: 0px 0px 32px 5px #fca21172;
    border-radius: 50px;
    transition: all 0.2s;
}

.ellenorzes_btn[data-status=invalid] {
    display: block;
    color: white;
    font-size: 25px;
    display: block;
    margin: 40px auto;
    margin-bottom: 0px !important;
    padding: 10px 20px;
    border: 0;
    background-color: rgb(251, 97, 97);
    box-shadow: 0px 0px 32px 5px rgba(251, 97, 97, 0.496);
    border-radius: 50px;
    transition: all 0.2s;
}


.kezdes_btn[data-status=enabled]:hover,
.ellenorzes_btn[data-status=enabled]:hover{
    color: #E5E5E5;
    font-size: 25px;
    display: block;
    margin: 40px auto;
    margin-bottom: 0px !important;
    padding: 10px 20px;
    border: 0;
    background-color: #8e6d38;
    box-shadow: 0px 0px 32px 5px #8e6d3865;
    border-radius: 50px;
}


input[type=text], select {
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 50px;
    outline: none;
    border: 0.5px solid grey;
    box-shadow: 0px 0px 42px 0px #beb2ff36;
    transition: all 0.3s;
}

input[type=text]:focus{
    background-color: #a0c4ff2a;
    box-shadow: 0px 0px 42px 0px #beb2ff6f;
}

input[data-status=correct]{
    border-color: #3b5c34;
    background-color: #caffbf3f;
    box-shadow: 0px 0px 42px 0px #caffbf3f;
}

input[data-status=incorrect]{
    border-color: #8b3b3b;
    background-color: #ffadad5b;
    box-shadow: 0px 0px 42px 0px #ffadad5b;
}

.name_label[data-status=incorrect]::before,
.email_label[data-status=incorrect]::before,
.birthdate_label[data-status=incorrect]::before,
.password_label[data-status=incorrect]::before,
.masodik_label[data-status=incorrect]::before,
.harmadik_label[data-status=incorrect]::before {
    font-size: 15px;
    display: block;
    margin-top:-15px;
    margin-right: 15px;
    text-align: start;
    position: absolute;
    right: 1px;
    padding: 10px 20px;
    border-radius: 20px;
    display: block;
    background-color: rgb(251, 97, 97);
    width: 400px;
    line-height: 1;
    height: auto;
    transition: all 0.3s;
}

.name_label[data-status=incorrect]::before{
    content: "Nem megfelelő a megadott név formátuma (1 nagy és kisbetű, 2 név)";
}

.email_label[data-status=incorrect]::before{
    content: "Nem megfelelő a megadott email formátuma (min. 3 karakter @ domain . 2-4 karakter)";
}

.birthdate_label[data-status=incorrect]::before{
    content: "Nem megfelelő a megadott születési dátum formátuma (éééé.hh.nn, pl: 2000.01.01)";
}

.password_label[data-status=incorrect]::before{
    content: "Nem megfelelő a megadott jelszó";
}

.masodik_label[data-status=incorrect]::before{
    content: "Csak kettő opció jelölhető ki";
}

.harmadik_label[data-status=incorrect]::before {
    content: "Csak egy szó adható meg/Szám nem adható meg";
}

/* test */


fieldset{
    border: 0;
}

.test_info[data-status=visible]{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    height: 560px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.result[data-status=hidden]{
    display: none;
}

[data-status=hidden]{
    display: none;
}

input[type=radio] {
    appearance: none;
    display: inline-block;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 1px solid #8e6d38;
    transition: 0.2s all;
    margin-right: 5px;
  
    position: relative;
    top: 2px;
}
  
input[type=radio]:checked {
border: 3px solid #FCA311;
}

input[type=checkbox] {
    appearance: none;
    display: inline-block;
  
    width: 16px;
    height: 16px;
  
    border: 1px solid #8e6d38;
    transition: 0.2s all;
    margin-right: 5px;
  
    position: relative;
    top: 2px;
}
  
input[type=checkbox]:checked {
border: 3px solid #FCA311;
}


.result{
    display: flex;
    height: 560px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pontszam_label{
    text-align: center;
    font-size: 36px;
}

#pontszam_result{
    text-align: center;
    font-size: 42px;
    color: #FCA311;
    font-weight: 600;
}